@use "../../stylesGlobal.scss" as *;

.skills {
  @include center();
  gap: 2rem;

  .firstCard,
  .secondCard {
    @include description-network();
    display: flex;
    flex-direction: row;
    gap: 6rem;
    max-width: 1000px;

    .category {
      display: flex;
      flex-direction: column;

       h2 {
           margin-bottom: 12px;
        }

      .cards {
        display: flex;
        justify-content: center;
        gap: 3rem;

        img {
          width: 48px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .skills {
    margin-top: 1rem;
    padding: 0.5rem;

    .firstCard,
    .secondCard {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      gap: 2rem;

      .category {
        width: 100%;
        text-align: center;
        h2 {
          font-size: 20px;
        }

        .cards {
          flex-wrap: wrap;
          justify-content: center;
          h3 {
            font-size: 18px;
          }
        }
      }
    }
  }
}
