@use "../../stylesGlobal.scss" as *;

.abautMe {
  @include center();
  gap: 1rem;
  width: 100%;

  .description {
    @include center();
    @include description-network();
    width: 1000px;
    gap: 1rem;
  }

  p {
    text-align: justify;
  }
}

@media (max-width: 500px) {
  .abautMe {
    margin-top: 1rem;
    padding: 0.5rem;
    .description {
      width: 100%;
      padding: 0.5rem;
    }
  }
}
