@use '../../stylesGlobal.scss' as *;

.container {
  display: flex;
  justify-content: center;

  .home {
    @include center();
    max-height: 900px;
    max-width: 900px;
    overflow-x: hidden;
    gap: 2rem;

    .home-description {
      @include description-network();
      width: 100%;

      h1 {
        font-size: 60px;
      }
      p {
        font-size: 20px;
        text-align: center;
      }
    }

    .home-network {
      @include description-network();
      background-color:  rgba(0, 0, 0, 0.623);
      a {
        display: inline-block;
        line-height: 0;
      }
      .home-icons {
        display: flex;
        gap: 1rem;

        .github {
         filter: brightness(0) invert(1);
        }

        img {
          width: 40px;
        }
      }
    }
  }
}
